# === qrqr-profile.vercel.app ===
TARGET_URL_1=https://selenbp1.github.io/qrqr/brochure-kor.pdf

# === qrqr-soq.vercel.app ===
# TARGET_URL_2=https://selenbp1.github.io/qrqr/brochure-eng.pdf

# (신규 배포 후에는 TARGET_URL 하나만 써도 됩니다)
