# QR 고정 주소
PUBLIC_URL_1=https://qrqr-profile.vercel.app/go
PUBLIC_URL_2=https://qrqr-soq.vercel.app/go2

# 로컬 참고용
TARGET_URL_1=https://selenbp1.github.io/qrqr/brochure-kor.pdf
TARGET_URL_2=https://selenbp1.github.io/qrqr/brochure-eng.pdf

PORT=3000
HOST=0.0.0.0
