# Vercel > Settings > Environment Variables (Production)
TARGET_URL_1=https://selenbp1.github.io/qrqr/brochure-kor.pdf
TARGET_URL_2=https://selenbp1.github.io/qrqr/brochure-eng.pdf

# QR 생성용 (로컬 .env)
PUBLIC_URL_1=https://qrqr-seven.vercel.app/go1
PUBLIC_URL_2=https://qrqr-seven.vercel.app/go2
