PUBLIC_URL_1=https://qrqr-profile.vercel.app/
PUBLIC_URL_2=https://qrqr-soq.vercel.app/go2

LINK_B2B=https://selenbp1.github.io/qrqr/b2b.pdf
LINK_B2G=https://selenbp1.github.io/qrqr/b2g.pdf
LINK_B2C=https://selenbp1.github.io/qrqr/b2c.pdf

TARGET_URL_2=https://selenbp1.github.io/qrqr/soq.pdf

PORT=3000
HOST=0.0.0.0
